<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Bemutatás</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Bemutatás</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ul>
      <li *ngFor="let c of testDock">{{ c.value }}</li>
    </ul>
  </div>
  <table style="width:100%">
    <tr>
      <td>Jill</td>
      <td>Smith</td>
      <td>50</td>
    </tr>
    <tr>
      <td>Eve</td>
      <td>Jackson</td>
      <td>94</td>
    </tr>
    <tr>
      <td colspan="3">
        <ion-img src="../../assets/SHIP_vectorized.png"></ion-img>
      </td>
    </tr>
  </table> 
</ion-content>